<h1>Password generator</h1>
<div>
  <label>Enter length</label>
  <input (change)="onChange($event)"/>
</div>
<div>
  <label>Use Letters</label>
  <input value="true" (change)="onChangeUseLetters()" type="checkbox"/>
</div>
<div>
  <div>
  <label>Use Numbers</label>
  <input [value]="checkboxTwo" (change)="onChangeUseNumbers()" type="checkbox"/>
</div>
<div>
  <label>Use Symbols</label>
  <input (change)="onChangeUseSymbols()" type="checkbox"/>
</div>
<div>
  <button [disabled]="!(lengthOfInput && (checkboxOne||checkboxTwo||checkboxThree))"(click)="onButtonClick()">GeneratE</button>
</div>
<div>
  <label>PASSWORD :</label>
  <input [value]="password"/>
</div>